<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nosotros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/servicios.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clientes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacto.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/analitica.css') }}">
    
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar">
        <a href="/">Inicio</a>
        <a href="/nosotros">nosotros</a>
        <a href="/servicios">servicios</a>
        <a href="/clientes">clientes</a>
        <a href="/contacto">contacto</a>
        <a href="/analitica">analitica</a>
    </nav>

    <!-- CONTENIDO DE LA PÁGINA -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <p>© 2025 servicios financieros digitales.</p>
    </footer>
</body>
</html>
